@model IEnumerable<Asp_Web_Lib.Models.UserViewModel>
@using Asp_Web_Lib.Resources
@{
	ViewBag.Title = "Lista użytkowników";
}

<h2>Lista użytkowników</h2>

<table class="table">
    <tr>
        <th>Email</th>
        <th>@Labels.Roles</th>
        <th>@Labels.Actions</th>

    </tr>
	@foreach (var user in Model)
	{
		<tr>
			<td>@user.Email</td>
			<td>@string.Join(", ", user.Roles)</td>
            <td>
                @Html.ActionLink(@Labels.ManageRoles, "ManageRoles", new { userId = user.UserId }, new { @class = "btn btn-primary" })
            </td>
		</tr>
	}
</table>