@model Asp_Web_Lib.Models.ManageUserRolesViewModel
@using Asp_Web_Lib.Resources

@{
	ViewBag.Title = "Zarządzaj rolami - " + Model.Email;
}

<h2>@Labels.ManageRoles @Model.Email</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.UserId)

	<div class="form-group">
		@Labels.Roles
		@Html.ListBoxFor(m => m.SelectedRoles, Model.RolesList, new { @class = "form-control" })
	</div>

	<button type="submit" class="btn btn-success">Zapisz</button>
	@Html.ActionLink(@Labels.GoBack, "Index", null, new { @class = "btn btn-default" })
}