@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using Asp_Web_Lib.Resources
@using System.Threading
@using System.Globalization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alexandria</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Including Bootstrap Icons in HTML</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    @{
        var currentCulture = Thread.CurrentThread.CurrentCulture.Name;
    }
    
    <nav class="navbar navbar-expand-sm navbar-dark navbar-custom box-shadow">
        <div class="container">
            <!-- Logo -->
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="navbar-brand">
                <img src="~/Content/logo/Alexandria-logo.png" alt="LOGO" style="height:40px;">
            </a>

            <!-- Przycisk hamburgera dla małych ekranów -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Elementy nawigacji -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">





                    <!-- Wyszukiwarka -->
                    <li class="navbar-btn">
                        <a href="@Url.Action("Index", "Search")">
                            <button class="btn btn-outline-light me-2" title="Wyszukiwarka">
                                <i class="bi bi-search"></i>
                            </button>
                        </a>
                    </li>


                    <!-- Koszyk -->
                    <li class="navbar-btn">
                        <a href="@Url.Action("Index", "Cart")">
                            <button class="btn btn-outline-light me-2" title="Koszyk">
                                <i class="bi bi-cart"></i>
                            </button>
                        </a>
                    </li>

                    <!-- Login partial -->
                    <li class="nav-item">
                        @Html.Partial("_LoginPartial")
                    </li>



                    <!-- Przełącznik języka -->
                    <li class="nav-item dropdown btn btn-outline-light me-2">
                        <a class="nav-link dropdown-toggle" href="#" id="cultureDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0px; color: #f5f5f5">
                            @currentCulture.ToUpper()
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cultureDropdown">
                            <li>
                                <a class="dropdown-item" href="@Url.Action("SetLanguage", "Language", new { culture = "pl", returnUrl = Request.Url.PathAndQuery })">Polski</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="@Url.Action("SetLanguage", "Language", new { culture = "en", returnUrl = Request.Url.PathAndQuery })">English</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Alexandria</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
