@model Asp_Web_Lib.Models.Limits
@using Asp_Web_Lib.Resources
@{
    ViewBag.Title = "Index";
}

<h2>Ustawienia wypożyczeń</h2>

<div class="form-container">
    <hr />

    <div class="form-grid"
        <div class="form-group">
            @*@Labels.MaxBorrowedBooks*@
            <h5>@Html.DisplayFor(model => model.MaxBorrowedBooks)</h5>

        </div>
        <br />
        <div class="form-group">
            @Labels.MaxWaitingBooks
            <h5>@Html.DisplayFor(model => model.MaxWaitingBooks)</h5>
        </div>
        <br />
        <div class="form-group">
            @Labels.MaxExtensionNumber
            <h5>@Html.DisplayFor(model => model.MaxExtensionNumber)</h5>
        </div>
        <br />
        <div class="form-group">
            @Labels.ExtensionDays
            <h5>@Html.DisplayFor(model => model.ExtensionDays)</h5>
        </div>
        <br />
        <div class="form-group">
            @Labels.LoanAmount
            <h5>@Html.DisplayFor(model => model.LoanAmount)</h5>
        </div>
        <br />
    @Html.ActionLink("Edytuj", "Edit", new { id = 1 })

</div>
    @*@Html.ActionLink("Edit", "Edit", new { id = item.IdLimits }) |
    @Html.ActionLink("Edit", "Edit", new { id = item.IdLimits }) |
    @Html.ActionLink("Details", "Details", new { id = item.IdLimits }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.IdLimits })

    @Html.ActionLink("Create New", "Create")*@

    
