@using Asp_Web_Lib.Models
@using Asp_Web_Lib.Resources
@model Asp_Web_Lib.ViewModels.ReservationViewModel
<main>
    <h2>Rezerwacje</h2>

    @if (Model.TotalItems == 0)
    {
        <p>@Labels.NoReservations</p>
    }
    else
    {
        <div class="table-container">
            <table class="table">
                <thead class="header">
                    <tr>
                        <th>@Labels.Cover</th>
                        <th>@Labels.Title</th>
                        <th>@Labels.WaitingStatus</th>
                        <th>@Labels.Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr class="content">
                            <td>
                                @if (!string.IsNullOrEmpty(item.CoverImage))
                                {
                                    <a href="@Url.Action("Details", "Books", new { id = item.BookId })"> <img src="@Url.Content(item.CoverImage)" alt="@item.Title" style="max-width: 100px; max-height: 150px;" /> </a>
                                }
                                else
                                {
                                    <span>@Labels.NoCover</span>
                                }
                            </td>
                            <td>@item.Title</td>
                            <td>
	                            @if (item.ReservationStatus == Status.CopyStatus.ReadyForPickUp)
	                            {
		                            <span>@Labels.ReadyForpickup</span><br/>
		                            if (item.AcceptanceDate.HasValue)
		                            {
			                            var dueDate = item.AcceptanceDate.Value.AddDays(30);
			                            <span>@Labels.TimeForPickup @dueDate.ToString("dd-MM-yyyy")</span>
		                            }
		                            else
		                            {
			                            <span>@Labels.Errorreverwations</span>
		                            }
	                            }else if (item.ReservationStatus == Status.CopyStatus.Reserved)
	                            {
		                            <p>
			                            @Labels.BookReserved,<br/>
                                        @Labels.WaitingForApprovalToPickup
		                            </p>
	                            }
	                            else
	                            {
                                    <span>@Labels.WaitingForAvalability</span>
	                            }
                            </td>
                            <td class="link-container">
                                <div class="action-buttons">
                                    <form action="@Url.Action("Remove", "Reservations")" method="post" class="">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="bookId" value="@item.BookId" />
                                        <input type="hidden" name="reservationId" value="@item.ReservationId" />
                                        <button type="submit" class="table-button">@Labels.Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</main>
<style>
    .table-co {
        width: 2;
    }
</style>

@Styles.Render("~/Content/Styles/ModelPanel.css")
