
<main>
    <h2 class="section-title">Nowe Pozycje</h2>
    <div class="slider-wrapper">
	    <div class="slider-container">
		    @foreach (var book in Model.NewBooks)
		    {
			    <div class="book" onclick="navigateToBook(@book.BookId)" tabindex="0" onkeypress="handleKeyPress(event, @book.BookId)">
				    <img src="@book.CoverImage" alt="Okładka książki '@book.Title' autorstwa @book.Authors">
				    <div class="book-title">@book.Title</div>
				    <div class="book-author">@book.Authors</div>
				    <div class="book-description">@book.Description</div>
			    </div>
		    }
	    </div>
    </div>
    
    <h2 class="section-title">Propozycje</h2>
    <div class="slider-wrapper">
	    <div class="slider-container">
		    @foreach (var book in Model.Books)
		    {
			    <div class="book" onclick="navigateToBook(@book.BookId)" tabindex="0" onkeypress="handleKeyPress(event, @book.BookId)">
				    <img src="@book.CoverImage" alt="Okładka książki '@book.Title' autorstwa @book.Authors">
				    <div class="book-title">@book.Title</div>
				    <div class="book-author">@book.Authors</div>
				    <div class="book-description">@book.Description</div>
			    </div>
		    }
	    </div>
    </div>
</main>
@section scripts
{
    <script>
        // Enable horizontal scroll with vertical mouse wheel
        const sliders = document.querySelectorAll('.slider-container');
        sliders.forEach(slider => {
	        slider.addEventListener('wheel', (event) => {
		        event.preventDefault();
		        slider.scrollLeft += event.deltaY;
	        });
        });
        // Navigate to book details page
        function navigateToBook(bookId) {
            window.location.href = `Books/Details/${bookId}`;
        }
        function handleKeyPress(event, bookId) {
            if (event.key === 'Enter') {
                // Jeśli naciśnięto Enter, wywołaj funkcję navigateToBook
                navigateToBook(bookId);
            }
	    }

    </script>
}

<style>
    main {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .slider-wrapper {
        background:  #f4f4f4; 
        padding: 0.8rem;
        border-radius: 0.8rem;
    }

    .slider-container {
        display: flex;
        gap: 1rem;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 1.2rem;
        height: 32rem;
        background-color: #f4f4f4;
        scrollbar-width: none;
    }

        .slider-container::-webkit-scrollbar {
            display: none;
        }

    .book {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 18.75rem;
        flex-shrink: 0;
    }

        .book > * {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .book:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }

        .book img {
            width: auto;
            max-width: 15.625rem;
            height: 18.75rem;
            border-radius: 5px;
        }

    .book-title {
        font-size: 1rem;
        font-weight: bold;
        margin: 0.8rem 0 0.2rem;
    }

    .book-author {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 0.2rem;
    }

    .section-title {
        font-size: 3rem;
        font-weight: bold;
        text-align: left;
        width: 100%;
        margin: 2rem 0;
        color: #222;
        border-bottom: 2px solid #ddd;
        display: inline-block;
        margin-bottom: 0.3rem;
    }

    .book-description {
        font-size: 0.8rem;
        color: #777;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
</style>
