@model Asp_Web_Lib.ViewModels.CartViewModel
	@using Asp_Web_Lib.Resources
<main>
<h2>@Labels.Cart</h2>

@if (Model.TotalItems == 0)
{
    <p>@Labels.Cart</p>
}
else
{
	<div class="table-container">
		<table class="table">
			<thead class="header">
			<tr>
				<th>@Labels.Cover</th>
				<th>@Labels.Title</th>
				<th>@Labels.AvaliableCopies</th>
				<th>@Labels.Actions</th>
			</tr>
			</thead>
			<tbody>
			@foreach (var item in Model.Items)
			{
				<tr class="content">
					<td>
						@if (!string.IsNullOrEmpty(item.CoverImage))
						{
							<a href="@Url.Action("Details", "Books", new { id = item.BookId })"> <img src="@Url.Content(item.CoverImage)" alt="@item.Title" style="max-width: 100px; max-height: 150px;" /> </a>
						}
						else
						{
							<span>@Labels.NoCover</span>
						}
					</td>
					<td>@item.Title</td>
					<td>@item.AvailableCopies</td>
					<td class="link-container">
                        <div class="action-buttons">
                            @if (!item.IsAvailable)
                            {
                                if (item.CanJoinQueue)
                                {
	                                <form action="@Url.Action("Reserve", "Cart", new { bookId = item.BookId })" method="post">
                                        <button class="table-button" type="submit">
                                            @Labels.AddToTheQueue
                                        </button>
	                                </form>
                                }
                            }
                            else
                            {
                                if (item.IsAvailable)
                                {
	                                <form action="@Url.Action("Reserve", "Cart", new { bookId = item.BookId })" method="post">
		                                <button class="table-button" type="submit">
			                                @Labels.Borrow
		                                </button>
	                                </form>
                                }
                            }

                            <form action="@Url.Action("Remove", "Cart")" method="post" class="">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="bookId" value="@item.BookId" />
                                <button type="submit" class="table-button">@Labels.Remove</button>
                            </form>

                        </div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
}
</main>
<style>
	.table-co {
		width: 2;
	}
</style>

@Styles.Render("~/Content/Styles/ModelPanel.css")
